@import "~bootswatch/dist/cyborg/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/cyborg/bootswatch";

html, body { 
	margin:0; padding:0;
	width: 100%; 
	height: 100%; 
	overflow: hidden;
	background: black;
} 
.plasma {
	margin:0; padding:0;
	width: 100%; 
	height: 100%; 
	position: absolute;
	display: block;  /* To remove the scrollbars */
	background: black;	
}

[disabled] {
	opacity: 0.2;
	transition: opacity 250ms ease;
}

#button-options-dialog {		
	position: absolute;
	left: 10px; 
	top: 10px;
	z-index: 10;
	transition: all ease-in-out 300ms;
}

.z42opt-range.noUi-target {
	/* The padding prevents the handle from overlapping the start/end of the track */
	padding-left: 16px;
	padding-right: 16px;
}
.noUi-handle {
	cursor: ew-resize;
}
.noUi-tooltip {
    display: none;
}
.noUi-active .noUi-tooltip {
    display: block;
}
.z42opt-palette-easefun-canvas,
.z42opt-palette-gradient-canvas {
	padding-left:  16px;
	padding-right: 16px;
	width: 100%;
}
.z42opt-palette-easefun-canvas {
	height:        60px;
	margin-bottom: 5px;
}
.z42opt-palette-gradient-canvas {
	height:        30px;
	margin-bottom: 8px;
}
.z42opt-palette-slider {
	margin: 0 16px 30px 16px;
}
.z42opt-palette-slider .noUi-handle {
	border: 1px solid #333;
}
.noUi-handle:focus,
.z42opt-palette-handle-selected {
	border: 2px solid #000; /* improve visibility of the default outline */
	background-color: #2A9FD6;
}
.z42opt-palette-handle-to-remove {
	opacity: .25;
	transition: opacity 125ms ease-out;
}
.z42opt-select.custom-select {
	background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23ccc' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 1rem center/8px 10px;
	background-color: rgba(100,100,100,0.65);
	color: #ccc;
}
.z42opt-select.custom-select option {
	background-color: rgb(65,65,65);
}

/* Transition when show state of components is toggled */
.z42opt-component-transition-enter-active {
	transition: all .3s ease;
}
.z42opt-component-transition-leave-active {
	transition: all .3s ease;
}
.z42opt-component-transition-enter, 
.z42opt-component-transition-leave-to {
	opacity: 0;
}


/* Show bootstrap modal dialogs without darkening backdrop but still allow to dismiss dialog by clicking outside */
.modal-backdrop {
	opacity: 0 !important;
}
/* Make only dialog background semi-transparent */
.modal-content {
	background-color: rgba( 0, 0, 0, 0.7) !important;
}
/* Align options dialog to left instead of center */
#z42opt-dialog .modal-dialog {
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 50px;
}
@media screen and (max-width: 768px) {
	/* adjustments for more screen real-estate on mobile */
	#z42opt-dialog .modal-dialog {
		margin: 0;
	}
	#z42opt-dialog .modal-header {
		padding-top: 8px;
		padding-bottom: 8px;
	}
}

.tab-pane {
	padding-top: 1em;
}
.modal-content * {
	user-select: none;
}

/*----- noUiSlider dark transparent -----*/

.noUi-target {
  background: rgba(77, 77, 77, 0.5); 
  border: none;
  box-shadow: none;
}
.noUi-connect {
  background: #205B56;
}
.noUi-handle {
  border: none;
  background: #808080;
  box-shadow: none;
}
.noUi-active {
  box-shadow: none;
  background: #AAA;
}
/* Handle stripes;
 */
.noUi-handle:before,
.noUi-handle:after {
  width: 0px;
}
/* Disabled state;
 */
[disabled] .noUi-connect {
  background: #666;
}